<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>NPM</ion-label>
  <ion-item>
    <ion-input [(ngModel)]="npm"></ion-input>
  </ion-item>

  <ion-label>Nama Mahasiswa</ion-label>
  <ion-item>
    <ion-input [(ngModel)]="nama_mahasiswa"></ion-input>
  </ion-item>

  <ion-list>
    <ion-radio-group [(ngModel)]="jenis_kelamin">
      <ion-list-header>
        <ion-label>
          Jenis Kelamin
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Laki-Laki</ion-label>
        <ion-radio value="L"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Perempuan</ion-label>
        <ion-radio value="P"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-label>Jurusan</ion-label>
  <ion-select [(ngModel)]="jurusan">
    <ion-select-option value="TI">Teknik Informatika</ion-select-option>
    <ion-select-option value="SI">Sistem Informasi</ion-select-option>
    <ion-select-option value="Tekin">Teknologi Informasi</ion-select-option>
  </ion-select>

  <ion-label>Foto Siswa</ion-label>
  <ion-item>
    <input type="file" (change)="imageUpload($event)" />
  </ion-item>

  <ion-button
    expand="block"
    (click)="addData()"
    color="primary">
    Simpan
  </ion-button>   

</ion-content>
